.big-card {
    width: 80%;
    height: 40%;
}

.class-list {
    width: 80%;
    margin:auto;
}
.class-list.hidden{
    display:none
}

.emphasis{
    font-size:x-large;
    font-weight: 900;
    text-align:left;
}